.top-buffer { margin-top: 50px; }

.jumbotron {
  color:#ffffff;
  background-color:#2075BC;
  height: 30%;
}

.jumbo-header {
  margin-top: -5%;
  font-size: 80px;
}

.lg-text { font-size: 40px; }

.lg-text-blue {
  font-size: 40px;
  color:#2075BC;
}

.btn-blue {
  color: #ffffff;
  background-color: #3FABE1;
  height: 70px;
  width: 300px;
  font-size: 30px;
}

.info-text { font-size: 30px; }
