.mentor-button {
  width: 431px;
  height: 80px;
  background-color: #48aee2; }

.mentor-button-text {
  width: 261.5px;
  height: 78px;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 26px;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.mentee-button {
  width: 431px;
  height: 80px;
  background-color: #2075bc; }

.mentee-button-text {
  width: 300px;
  height: 80px;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 26px;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.mentor-container {
  display: inline-block;
  position: relative;
  margin-right: 41px;
  margin-top: 30px; }

.mentee-container {
  display: inline-block;
  position: relative;
  margin-left: 41px;
  margin-top: 30px; }

.button-container {
  margin: 0 auto;
  width: 100%;
  text-align: center; }
#container {
  display: flex;
  /* establish flex container */
  flex-direction: column;
  /* stack flex items vertically */
  align-items: center;
  /* center items horizontally, in this case */
  padding-top: 10px; }

.welcome-container {
  margin: 0 auto;
  margin-bottom: 10px; }

.welcome-text-main {
  font-family: Comfortaa;
  font-size: 64px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.3px;
  color: #2075bc;
  margin-bottom: 0.5em;
  text-align: center; }

.welcome-text-submain {
  font-family: Comfortaa;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  color: #3fabe1;
  text-align: center; }
.resize {
  height: 40vh;
  width: auto;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px; }
.top-buffer {
  margin-top: 50px; }

.jumbotron {
  height: 30%; }

.jumbo-header {
  margin-top: -5%;
  font-size: 80px; }

.lg-text {
  font-size: 40px; }

.lg-text-blue {
  font-size: 40px;
  color: #2075BC; }

.btn-blue {
  color: #ffffff;
  background-color: #3FABE1;
  height: 70px;
  width: 300px;
  font-size: 30px; }

.info-text {
  font-size: 30px; }
.top-buffer {
  margin-top: 50px; }

.card-header {
  background-color: #2075BC;
  font-size: 70px;
  color: #ffffff; }

.card {
  font-size: 25px; }

.jumbotron {
  color: #ffffff;
  background-color: #2075BC; }

.jumbo-header {
  margin-top: -5%;
  font-size: 80px; }
.jumbotron-signout {
  height: 70%; }

.btn-blue {
  color: #ffffff;
  background-color: #3FABE1;
  height: 70px;
  width: 300px;
  font-size: 30px; }

.signOutBtn {
  margin-top: 30px; }
body {
  background-color: white; }
  body .cointainer {
    padding: 10px;
    padding-top: 30px; }
  body nav .navbar-toggler {
    outline: none;
    border: none; }
  body .row {
    margin: 0px 0px; }
  body .col, body .col-1, body .col-10, body .col-11, body .col-12, body .col-2, body .col-3, body .col-4, body .col-5, body .col-6, body .col-7, body .col-8, body .col-9, body .col-auto, body .col-lg, body .col-lg-1, body .col-lg-10, body .col-lg-11, body .col-lg-12, body .col-lg-2, body .col-lg-3, body .col-lg-4, body .col-lg-5, body .col-lg-6, body .col-lg-7, body .col-lg-8, body .col-lg-9, body .col-lg-auto, body .col-md, body .col-md-1, body .col-md-10, body .col-md-11, body .col-md-12, body .col-md-2, body .col-md-3, body .col-md-4, body .col-md-5, body .col-md-6, body .col-md-7, body .col-md-8, body .col-md-9, body .col-md-auto, body .col-sm, body .col-sm-1, body .col-sm-10, body .col-sm-11, body .col-sm-12, body .col-sm-2, body .col-sm-3, body .col-sm-4, body .col-sm-5, body .col-sm-6, body .col-sm-7, body .col-sm-8, body .col-sm-9, body .col-sm-auto, body .col-xl, body .col-xl-1, body .col-xl-10, body .col-xl-11, body .col-xl-12, body .col-xl-2, body .col-xl-3, body .col-xl-4, body .col-xl-5, body .col-xl-6, body .col-xl-7, body .col-xl-8, body .col-xl-9, body .col-xl-auto {
    padding: 0px 0px; }
  body button.btn {
    cursor: pointer; }
